body {
    background-color: #F9F9F9;
    color: #2C2C2C;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: #2C2C2C;
}

button {
    &:active,  &:focus{
        outline: none;
    }
}

.section {
    padding: 35px;
    margin: 0 auto;
    max-width: 1640px;
    min-height: 1800px;
    &__title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
    }
    &__wrapper {
        display: flex;
        margin-top: 45px;
    }
}

.filter {
    margin-right: 30px;
    width: 370px;
    height: 1700px;
    // border: 1px solid red;
    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    &__wrapper {
        padding: 25px;
        background-color: #ffffff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
        border-radius: 8px;
    }
    &__name {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    &__inner {
        padding: 30px 0;
        border-top: 1px solid #D6D6D6;
        &_price {
            padding-top: 0;
            border: none;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        &_price {
            display: block;
        }
    }
    &__button {
        margin-top: 30px;
        width: 100%;
        height: 56px;
        text-align: center;
        background: #6F64F8;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
        border-radius: 8px;
        border: none;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
}

.products {
    width: 1170px;
    border: 1px solid red;
    &__view {
        display: flex;
        justify-content: flex-end;
        &-btn {
            margin-left: 15px;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
            border-radius: 8px;
            border: none;
        }
    }
}